<!-- views/supplier/edit -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar', {links: links}) %>
    <div>
      <%- include('../partials/topbar', {date: date}) %>
      <h1 class="page-header">Edit Product</h1>
      
      <form action="/suppliers/supplier/editConfirm" method="post">
        <input type="hidden" name="supplierId" value="<%= supplier.id %>">
        <label for="productName">Supplier Name:</label>
        <input
          type="text"
          id="supplierName"
          name="supplierName"
          value="<%= supplier.supplier_name %>"
          required
        />

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= supplier.email %>"
        />

        <label for="phone">Telephone Number:</label>
        <span class="phone-example" aria-label="Phone Number"
          >Example: 123-456-7890</span
        >
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder="___-___-____"
          pattern="\d{3}-\d{3}-\d{4}"
          inputmode="numeric"
          value="<%= supplier.phone %>"
        />

        <label for="imageUrl">Image URL (optional):</label>
        <input
          type="url"
          id="imageUrl"
          name="imageUrl"
          value="<%= supplier.image_url %>"
        />

        <button type="submit" class="add-button">Confirm</button>
        
      </form>
      <form action="/suppliers/delete/<%= supplier.id %>" method="POST">
       <button type="submit"  onclick="return confirm('Are you sure you want to delete this supplier?');">Delete</button>
      </form>

      <a href="/suppliers" class="back-btn">Back</a>
    </div>
  </body>
</html>
